<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome CSS para iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'Index' %}"> Enmarcando Momentos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donar' %}">Donar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="container mt-5">
        {% block content %}
        <!-- Contenido de cada página -->
        {% endblock %}
    </main>
    
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> Enmarcando Momentos</h5>
                    <p>
                        &copy; 2024 Enmarcando Momentos. Todos los derechos reservados.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Síguenos</h5>
                    <a href="https://www.linkedin.com" class="btn btn-outline-primary btn-sm m-1" role="button"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://www.instagram.com" class="btn btn-outline-primary btn-sm m-1" role="button"><i class="fab fa-instagram"></i> Instagram</a>
                    <a href="https://www.twitter.com" class="btn btn-outline-primary btn-sm m-1" role="button"><i class="fab fa-twitter"></i> X</a>
                    <a href="https://www.github.com" class="btn btn-outline-primary btn-sm m-1" role="button"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
