{% extends "Web/base.html" %}

{% block title %}Noticias{% endblock %}

{% block content %}
    
    

   
    <div class="jumbotron text-center mt-5">
        <h1 class="display-4">Últimas Noticias</h1>
        <p class="lead">Mantente informado con las noticias más recientes y relevantes.</p>
        <hr class="my-4">
        <p>Explora nuestras secciones para encontrar artículos interesantes y actualizaciones importantes.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Tecnología</a>
        <a class="btn btn-secondary btn-lg" href="#" role="button">Deportes</a>
    </div>
{%for Noticia in Noticias%}
<div class="container">
    <div class="card mb-3">
        <div class="d-flex justify-content-center">
            <img src="{{ Noticia.image.url }}" class="card-img-top img-fluid" alt="{{ Noticia.title }}" style="max-width: 350px; max-height: 350px; object-fit: cover;">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ Noticia.Title }}</h5>
            <p class="card-text">{{ Noticia.description }}</p>
            <p class="card-text">{{ Noticia.sector }}</p>
        </div>
    </div>
</div>



                
            </div>
        </div>
        {% empty %}
        <p>No hay noticias disponibles.</p>
        {% endfor %}
                <h2>Categorías</h2>
                <ul>
                    <li><a href="#">Mundo</a></li>
                    <li><a href="#">Negocios</a></li>
                    <li><a href="#">Salud</a></li>
                    <li><a href="#">Entretenimiento</a></li>
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}
